body{
    margin: 0;
}
#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
}

input{
    padding: 5px;
    margin: 2px;
}
button{
    padding: 5px;
}

